Reconjurer/application.linux-arm64
Reconjurer/application.linux-armv6hf
Reconjurer/application.linux32
Reconjurer/application.linux64
Reconjurer/application.windows32
Reconjurer/application.windows64
Reconjurer/application.macosx
*.ign
*.ign/