Mathgician/application.linux-arm64
Mathgician/application.linux-armv6hf
Mathgician/application.linux32
Mathgician/application.linux64
Mathgician/application.windows32
Mathgician/application.windows64
Mathgician/application.macosx
